            * {
                padding: 0%;
                margin: 0%;
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
                font-family: 'Nunito Sans', sans-serif;
            }
            
            .navbar {
                z-index: 100;
                background-color: crimson;
                position: fixed;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            
            .logo {
                font-size: 30px;
                color: black;
                padding: 2px 85px;
                text-decoration: none;
            }
            
            .navbar ul {
                padding: 10px 70px;
                display: flex;
                list-style: none;
            }
            
            .navbar ul li {
                padding: 0px 25px;
                text-decoration: none;
            }
            
            .nav-links {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
            
            .nav-links::after {
                content: "";
                width: 100%;
                background-color: aliceblue;
                height: auto;
            }
            
            .background img {
                width: 100%;
                height: 100vh;
                margin-top: 35px;
            }
            
            .header {
                position: relative;
            }
            
            .section {
                position: absolute;
                left: 6%;
                top: 25%;
            }
            
            .section h1 {
                font-style: initial;
                color: black;
                font-size: 100px;
            }
            
            .section h2 {
                font-size: 35px;
                margin: -17px 76px;
                background-color: crimson;
            }
            
            .section h3 {
                color: black;
                font-size: 20px;
                margin: 27px 5px;
            }
            
            .razorpay-embed-btn {
                position: absolute;
                top: 60%;
                left: 20%;
            }
            
            .socail-icon {
                position: absolute;
                top: 80%;
                left: 17%;
                z-index: 1;
                display: flex;
                margin-top: 20px;
                justify-content: center;
                text-align: center;
            }
            
            .socail-icon a {
                font-size: 30px;
                display: block;
                text-decoration: none;
                width: 50px;
                height: 50px;
                margin: 1px 1px;
            }
            
            .socail-icon a .fab {
                color: white;
            }
            
            .socail-icon a:hover .fa-linkedin {
                color: #0077B5;
            }
            
            .socail-icon a:hover .fa-instagram {
                color: #e4405f;
            }
            
            .socail-icon a:hover .fa-facebook {
                color: #3b5593;
            }
            
            .socail-icon a:hover .fa-twitter {
                color: #1da1f2;
            }
            
            .socail-icon a:hover .fa-github {
                color: #3b5593;
            }
            
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                padding-bottom: 80px;
                padding-top: 60px;
                box-sizing: border-box;
                background-color: white;
            }
            
            .container .card {
                z-index: 11;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin: 60px 20px;
                transition: all 1s ease;
                flex: 1 1 100px;
            }
            
            .container .card .icon {
                height: 75px;
                width: 75px;
                background-color: crimson;
                position: relative;
            }
            
            .icon::before {
                content: "";
                height: 20px;
                background-color: white;
                width: 20px;
                position: absolute;
                transform: skew( 313deg);
                left: 87%;
                top: 73%;
            }
            
            .container .card .fas {
                font-size: 40px;
                color: white;
                padding: 17px;
            }
            
            .container .card .text-hadding {
                font-size: 25px;
                font-weight: 800;
                margin: 30px 17px;
                display: block;
            }
            
            .container .card .text {
                width: 200px;
                height: 150px;
                display: flex;
                align-items: center;
                margin: 0px 27px;
                font-size: 15px;
                font-weight: 100;
                color: #00001198;
            }
            
            .footer {
                background-color: crimson;
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
            }
            
            .footer div {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 170px;
                margin: 10px 30px;
                border-radius: 1%;
                transition: all 1s ease;
                flex: 1 1 250px;
                padding: 10px;
            }
            
            .footer div h1 {
                padding: 10px;
                font-size: 25px;
            }
            
            .footer div p {
                font-size: 18px;
                text-align: center;
                margin-top: 10px;
                color: white;
            }
            
            .footer .div2 ul {
                list-style: none;
                height: 50px;
                text-align: center;
            }
            
            .footer .div2 ul a {
                font-size: 20px;
                text-decoration: none;
                padding: 10px;
                line-height: 80px;
                border-radius: 50%;
            }
            
            .footer .div2 ul a .fab {
                font-size: 25px;
                line-height: 10px;
                transition: all 1s ease;
            }
            
            .footer .div2 ul a .fab {
                color: white;
            }
            
            .footer .div2 ul a:hover .fa-linkedin {
                color: #0077B5;
                transform: scale(1.5);
            }
            
            .footer .div2 ul a:hover .fa-instagram {
                color: #e4405f;
                transform: scale(1.5);
            }
            
            .footer .div2 ul a:hover .fa-facebook {
                color: #3b5593;
                transform: scale(1.5);
            }
            
            .footer .div2 ul a:hover .fa-twitter {
                color: #1da1f2;
                transform: scale(1.5);
            }
            
            .footer .div2 ul a:hover .fa-github {
                color: #3b5593;
                transform: scale(1.5);
            }
            
            .footerbar {
                background-color: crimson;
                width: 100%;
                color: #fff;
                height: 100%;
                text-align: center;
                padding: 15px 0rem;
                font-size: 15px;
                font-family: monospace;
            }